.logo{
	height: 125px;
	width: 125px;
	
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(beige,white);

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.links {
    text-decoration: none;
    color: black;
	font-size: larger;
    /* transition: border-bottom 0.3s ease; */
	display: flex;
}

.links:hover .icon{
    /* border-bottom: 1px solid black; */
	/* width: 35px;
	height: 35px; */
}

.links:hover{
	/* font-size: large; */
	background-color: #C4A484;
	padding: 10px;
	
}

.menu{
	width: 600px;
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
}

.icon{
	height: 30px;
	width: 30px;
	margin-right: 5px;
}

@media (max-width: 768px) {
	.navbar {
	  flex-direction: column;
	}
  
	.menu {
	  flex-direction: column;
	  align-items: center;
	  margin-right: 0;
	  margin-top: 10px;
	}

	.links{
		margin-bottom: 10px;
	}
  }